@import "tailwindcss";

@plugin "tailwindcss-animate";




:root {
  --background: #ffffff;
  --foreground: #262626;
  --card: #ffffff;
  --card-foreground: #262626;
  --popover: #ffffff;
  --popover-foreground: #262626;
  --primary: #333333;
  --primary-foreground: #f8f8f8;
  --secondary: #e0e0e0;
  --secondary-foreground: #333333;
  --muted: #e0e0e0;
  --muted-foreground: #8a8a8a;
  --accent: #e0e0e0;
  --accent-foreground: #333333;
  --destructive: #d9534f;
  --destructive-foreground: #ffffff;
  --border: #cccccc;
  --input: #cccccc;
  --ring: #888888;
  --chart-1: #ff9800;
  --chart-2: #03a9f4;
  --chart-3: #673ab7;
  --chart-4: #8bc34a;
  --chart-5: #ff5722;
  --radius: 0.625rem;
  --sidebar: #f8f8f8;
  --sidebar-foreground: #262626;
  --sidebar-primary: #333333;
  --sidebar-primary-foreground: #f8f8f8;
  --sidebar-accent: #e0e0e0;
  --sidebar-accent-foreground: #333333;
  --sidebar-border: #cccccc;
  --sidebar-ring: #888888;
}

.dark {
  --background: #262626;
  --foreground: #f8f8f8;
  --card: #262626;
  --card-foreground: #f8f8f8;
  --popover: #262626;
  --popover-foreground: #f8f8f8;
  --primary: #f8f8f8;
  --primary-foreground: #333333;
  --secondary: #444444;
  --secondary-foreground: #f8f8f8;
  --muted: #444444;
  --muted-foreground: #aaaaaa;
  --accent: #444444;
  --accent-foreground: #f8f8f8;
  --destructive: #a94442;
  --destructive-foreground: #d9534f;
  --border: #444444;
  --input: #444444;
  --ring: #666666;
  --chart-1: #ab47bc;
  --chart-2: #26c6da;
  --chart-3: #ffca28;
  --chart-4: #ec407a;
  --chart-5: #ff7043;
  --sidebar: #333333;
  --sidebar-foreground: #f8f8f8;
  --sidebar-primary: #ab47bc;
  --sidebar-primary-foreground: #f8f8f8;
  --sidebar-accent: #444444;
  --sidebar-accent-foreground: #f8f8f8;
  --sidebar-border: #444444;
  --sidebar-ring: #666666;
}

@layer base {
  /* * {
    @apply border-border outline-ring/50;
  } */
  body {
    @apply bg-[white] text-black;
  }
}

@layer utilities {
  .gradient-title {
    @apply font-extrabold bg-gradient-to-br from-[#D62828] via-[#F77F00] to-[#FCBF49] bg-clip-text tracking-tighter text-transparent pr-2 pb-2;
  }
}




.striped-background {
  background-color: #DBCF96; /* Base background color */
  background-image: 
    linear-gradient(0deg, rgba(0, 0, 0, 0.1) 1px, transparent 1px),
    linear-gradient(90deg, rgba(0, 0, 0, 0.1) 1px, transparent 1px); /* Slightly darker lines */
  background-size: 30px 30px;
  animation: moveBoxes 3s linear infinite; /* Faster animation */
}

@keyframes moveBoxes {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 30px 30px;
  }
}


